<div class="image-container">
    <img src="./images/Circles.png" class="img-fluid" alt="Image 1">
  </div>
  <div class="container">

    <div class="row">
      <div class="col-md-3">
        <div class="row">
          <div class="col">
            <h1 class="text-bold">Share</h1>
            <h1 class="text-bold">Your</h1>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <h1 class="color-transition">Music</h1>

          </div>
        </div>
        <div class="row">
          <div class="col">
            <h1 class="text-bold">Here</h1>
          </div>
        </div>
        <button class="btn btn-primary"><a href="/signup" style="color:white">Create Account</a></button>

      </div>
      <div class="col-md-6">
        <img src="./images/smiley-woman-with-headphones-working-laptop 1.png" class="img-fluid" alt="Image 1">
      </div>
    </div>
    <hr class="invisible-hr"> <!-- Line separating the sections -->

    <!-- music posts today section  -->
    <div class="container">
      <div class="row">
        <div class="col-md-4">
          <div class="row">
            <div class="col">
              <h1 class="text-bold">Music</h1>
              <h1 class="text-bold text-white">Posts</h1>
            </div>
          </div>
          <div class="row">
            <div class="col">
              <h1 class="text-bold">Today</h1>
            </div>
          </div>
          <button class="btn btn-outline-light"><a href="/userhome" style="color:white">See All Posts</a></button>

        </div>
        <div class="col-md-6">

          <!-- row of pics -->
          <div class="container">
            <div class="row">
              <div class="col">
                <img src="../../public/images/card 6 (1).png" class="img-fluid" alt="Image 1">
              </div>
              <div class="col">
                <img src="../../public/images/card 7 (1).png" class="img-fluid" alt="Image 2">
              </div>
              <div class="col">
                <img src="../../public/images/card 3 (1).png" class="img-fluid" alt="Image 3">
              </div>
              <!-- Add more columns with images as needed -->
            </div>
          </div>
        </div>
      </div>