<div class="container">
  <h2 class="text-center">Login Form</h2>
  <div class="form-container">
    <form class="login-form">
      <div class="form-group">
        <label for="inputEmail"></label>
        <input type="text" class="form-control" id="inputEmail" placeholder="Email">
      </div>
      <div class="form-group">
        <label for="inputPassword"></label>
        <input type="password" class="form-control" id="inputPassword" placeholder="Password">
      </div>
      <button type="submit" class="btn btn-primary btn-block">Log in</button>
    </form>
  </div>
</div>

<!-- Add Bootstrap JS and its dependencies -->
<script src="/javascript/login.js"></script>