<div class="container">
    <h2 class="text-center">Login Form</h2>
    <div class="form-container">
        <form class="login-form">
            <div class="form-group">
                <label for="inputUsername"></label>
                <input type="text" class="form-control" id="inputUsername" placeholder="Username">
            </div>
            <div class="form-group">
                <label for="inputPassword"></label>
                <input type="password" class="form-control" id="inputPassword" placeholder="Password">
            </div>
            <button type="submit" class="btn btn-primary btn-block">Log in</button>
        </form>
    </div>
</div>

<!-- Add Bootstrap JS and its dependencies -->
<script src="./javascript/LOGINFORM.js"></script>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
