<div class="post-form">
  <h5 class="text-center">CREATE A NEW POST</h5>

  <!-- START post form -->
  <form action="/posts" method="POST">
    <!-- START pictureSelect -->
    <div class="form-group">
      <label for="pictureSelect"></label>
      <select id="pictureSelect" class="form-control-sm d-block mx-auto" name="picture">
        <option value="">-- Select an image --</option>
        <option value="Love" data-src="public/images/uploads/love.webp">Love</option>
        <option value="Workout" data-src="public/images/uploads/workout.jpg">Workout</option>
        <option value="Study" data-src="public/images/uploads/study.jpg">Study</option>
        <option value="Dance" data-src="public/images/uploads/dance.jpg">Dance</option>
      </select>

      <label for="inputSongName"></label>
      <input type="text" class="form-control-sm d-block mx-auto" id="inputSongName" placeholder="Song Title"
        value="{{songName}}">

      <label for="inputArtist"></label>
      <input type="text" class="form-control-sm d-block mx-auto" id="inputArtist" placeholder="Artist/Band Name"
        value="{{artist}}">
    </div>
    <button type="submit" class="btn btn-primary btn-sm d-block mx-auto">Post</button>
  </form>
</div>

{{#if posts.length}}
<section>
  <h2>Your Posts</h2>
  <ol>
    {{#each posts as |post|}}
    <li>
      {{post-info post}}
      <a href="/dashboard/edit/{{post.id}}" class="edit-link">Edit post</a>
    </li>
    {{/each}}
  </ol>
</section>
{{/if}} 

<script src="/public/javascript/userpost.js"></script>