<div class="post-form">
  <h3 class="text-center">Create a New Post</h3>

<!--START post form-->
  <form action="/posts" method="POST">
   <!--START pictureSelect-->
   <div class="form-group">
    <label for="pictureSelect"></label>
    <select id="pictureSelect" class="form-control-sm d-block mx-auto" name="picture" onchange="updateImage()">
      <option value="">-- Select an image --</option>
      <option value="Love" src="public/images/uploads/love.webp">Love</option>
      <option value="Workout" src="public/images/uploads/workout.jpg">Workout</option>
      <option value="Study" src="public/images/uploads/study.webp">Study</option>
      <option value="Dance" src="public/images/uploads/dance.webp">Dance</option>
    </select>
     <label for="inputSongName"></label>
        <input type="text" class="form-control-sm d-block mx-auto" id="inputSongName" placeholder="Song Title"
          value="{{songName}}">
        <label for="inputArtist"></label>
        <input type="text" class="form-control-sm d-block mx-auto" id="inputArtist" placeholder="Artist/Band Name"
          value="{{artist}}">
      </div>
      <button type="submit" class="btn btn-primary btn-sm d-block mx-auto">Post</button>
   </div>
   
<script src="/public/javascript/userpost.js"></script>
