<!DOCTYPE html>
<html>
<head>
    <title>Signup Form</title>
    <!-- Add Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <!-- ... rest of the head ... -->
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-purple ">
        <!-- ... rest of the nav ... -->
    </nav>
    <div class="container">
        <h2 class="text-center">Signup Form</h2>
        <div class="form-container">
            <form>
                <div class="form-group">
                    <label for="inputEmail"></label>
                    <input type="email" class="form-control" id="inputEmail" placeholder="Email" value="{{email}}">
                </div>
                <div class="form-group">
                    <label for="inputFullName"></label>
                    <input type="text" class="form-control" id="inputFullName" placeholder="Full Name" value="{{fullName}}">
                </div>
                <div class="form-group">
                    <label for="inputUsername"></label>
                    <input type="text" class="form-control" id="inputUsername" placeholder="Username" value="{{username}}">
                </div>
                <div class="form-group">
                    <label for="inputPassword"></label>
                    <input type="password" class="form-control" id="inputPassword" placeholder="Password" value="{{password}}">
                </div>
                <button type="submit" class="btn btn-primary btn-block">Sign up</button>
            </form>
        </div>
    </div>

    <!-- Add Bootstrap JS and its dependencies -->
    <!-- ... rest of the body ... -->
</body>
</html>
