<link rel="stylesheet" href="./css/miccitest.css">
<link rel="stylesheet" href="./css/miccitest2.css">
<div class="container">
   <h1>Latest Posts</h1>
    {{#each posts}}
        <div class="post">
            <img src="{{imageOption}}" alt="User chosen image">
            <h2>{{songName}} by {{artistName}}</h2>
            <p>Posted by: {{username}}</p>
        </div>
    {{/each}}
  </div>
</div>


<!-- Add Bootstrap JS and its dependencies -->


<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
<script src="./javascript/userpost.js"></script>