<link rel="stylesheet" href="/css/miccitest.css">
<link rel="stylesheet" href="/css/miccitest2.css">
<div class="container">
  <h2 class="text-center">My Dashboard</h2>
  <div class="form-container">

    <button type="submit" ><a class="btn btn-primary btn-block" href="/post" >Create a
          Post</a></button>
  </div>
</div>


<!-- Add Bootstrap JS and its dependencies -->

<script src="/javascript/userhome.js"></script>