<link rel="stylesheet" href="/css/miccitest.css">
<link rel="stylesheet" href="/css/miccitest2.css">
<div class="container">
  <h2 class="text-center">My Dashboard</h2>

  <!--CHANGE class from "form-container? Form moved to post.handlebars-->
  <div class="form-container">
    <h4> Welcome!</h4>
    <h6>would you like to...</h6>
    <button type="submit" ><a class="btn btn-primary btn-block" href="/post" >Create a
          Post</a></button>
  </div>

<!--CREATE container for collection of User's posts to display in dashboard-->
  <div class="userPosts-container">
    <h5 class="text-center">MY COLLECTION</h5> 
    <!--ADD post-list items for user-posts to display-->   
      <ol class="post-list">
        {{#each posts as |post|}}
        <li>
          {{> post-info post }}

        </li>
        {{/each}}
      </ol>
  </div>
<!--END container-->
 
</div>


<!-- Add Bootstrap JS and its dependencies -->

<script src="/javascript/userhome.js"></script>