<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" href="/css/miccitest.css">
  <link rel="stylesheet" href="/css/miccitest2.css">
</head>
<body>
  <div class="container">
    <h2 class="text-center">My Dashboard</h2>

    <!-- Form container -->
    <div class="form-container">
      <h4>Welcome!</h4>
      <h6>Would you like to...</h6>
      <button type="submit"><a class="btn btn-primary btn-block" href="/post">Create a Post</a></button>
    </div>

    <!-- Newsfeed container -->
    <div class="aside-container">
      <h6>COMMUNITY PLAYLIST</h6>
    </div>

    <!-- User posts container -->
    <div class="userPosts-container">
      <h5 class="text-center">MY POSTS</h5>
      <ol class="post-list">
        {{#each posts}}
        <li>
          <!-- Display post information -->
          {{ post-info this }}
        </li>
        {{/each}}
      </ol>
    </div>
  </div>

  <!-- Add Bootstrap JS and its dependencies -->
  <script src="/javascript/userhome.js"></script>
  <script src="/javascript/userpost.js"></script>
</body>
</html>
